@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body {
    background-image: url(./img/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body *{
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header{
    padding-top: 32px;
    height: calc(120px + 32px);
}

header img{
    width: 100%;
    border-radius: 50%;
}

header div{
    width: 120px;
    margin: auto;
    background: linear-gradient(90deg, rgba(237,26,26,1) 0%, rgba(251,65,219,1) 27%, rgba(136,0,255,1) 100%);

    border-radius: 50%;
    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div:hover{
    transform: scale(1.1);
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;

}

section{
    color: #fff;
    background: linear-gradient(90deg, rgba(237,26,26,1) 0%, rgba(251,65,219,1) 27%, rgba(136,0,255,1) 100%);

    padding-top: 4px;
    border-radius: 10px;
}

section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2{
    letter-spacing: -0.47px;
}

section p{
    color: #A1A1AA;
    letter-spacing: -0.18px;
}

section ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 24px;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.1);
}

.film1{
    border-radius: 8px;
    width: 90px;
}
.film2{
    border-radius: 8px;
    width: 101.5px;
}
.film3{
    border-radius: 8px;
    width: 95px;
}
.serie1{
    border-radius: 8px;
    width: 90px;
}
.serie2{
    border-radius: 8px;
    width: 82px;
}
.serie3{
    border-radius: 8px;
    width: 97px;
}

/*animation*/

header div {
    animation: fromTop .3s .2s backwards;
}

main section{
    animation: fromBottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .8s;
}

@keyframes fromTop{
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}